body.error404 #primary {
    position: relative;
    min-height: 500px;
}
body.error404 #primary > * {
    position: relative;
    z-index: 2;
}
body.error404 #primary #the-particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
body.error404 [role="main"] {
    min-height: 800px;
}
body.error404 section.error-404 {
    background: rgba(255,255,255,0.5);
    width: 100%;
}
body.error404 section.error-404 header {
    background: none;
}